.mainheader {
  text-align: center;
  color: orange;
  border-bottom: 2px dashed black;
  font-weight: semibold;
}

#markrober {
  color: rgb(0,153,128);
  border-left: 4px ridge darkred;
  font-weight: semibold;
}
  
#footer {
  color: rgb(200, 200, 200);
  opacity: 40%;
  text-align: right;
  font-size: 15px;
}
