 .mainheader {
  text-align: center;
  color: orange;
  border-bottom: 2px dashed black;
  font-weight: semibold;
}

#markrober {
  color: rgb(124, 10, 2);
  border-left: 4px ridge maroon;
  padding-left: 3px;
}

iframe.markrober {
  border: 2px solid purple;
}
  
#footer {
  color: rgb(200, 200, 200);
  opacity: 40%;
  text-align: right;
  font-size: 7px;
}

.dino {
  width:600px; 
  height:300px; 
  border: none;
}

.centermsgdiv {
  border: 5px solid;
  margin: auto;
  margin-top: 20%;
  width: 50%;
  padding: 10px;
}

#langselnotif {
  text-align: center;
  font-weight: bold;
  font-size: 2vw;
}

.langNotAvail {
  filter: gray; 
  -webkit-filter: grayscale(1); 
  filter: grayscale(1);
}

.langBut {
  margin-left: 2vw;
}